---
layout: default
title: Developer | Aidan Lister
section: developer
---
<section class="main-content">
  <div class="row">
    <div class="col-sm-6">
      <div class="section-description">I have been an active web developer since 1999, working primarily with PHP and associated technologies. I am proficient with several scripting languages (PHP, Python, and JavaScript), and several markup languages (HTML, CSS, XML, and XSL). I am a strong proponent of accessibility and web standards. I’m also familiar with several frameworks including CakePHP, Django and jQuery). I also enjoy the odd task in MIPS, MATLAB, C/C++, Bash, or VHDL when required.</div>
      <div class="projects">
        <div class="project">
          <h3>Python for Facebok</h3>
          <p>A home for Python developers working with Facebook. We maintain two repositories on github:</p>
          <p><em>facebook-sdk</em> - a set of essential tools for working with Facebook in Python - and</p>
          <p><em>django-facebook</em>, an extensible django plugin for building facebook integrated sites.</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
        <div class="project">
          <h3>PEAR</h3>
          <p>The PHP Extension and Application Repository (PEAR) is a framework and distribution system for reusable PHP components. [HOW I CONTRIBUTE]</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
        <div class="project">
          <h3>PHP.net</h3>
          <p>[DESCRIPTION][HOW I CONTRIBUTE]</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
        <div class="project">
          <h3>Gallery</h3>
          <p>An open source web based photo album organizer, Gallery gives you an intuitive way to blend photo management seamlessly into your own website whether you're running a small personal site or a large community site.</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
        <div class="project">
          <h3>Code repository</h3>
          <p>I maintain a repository for useful PHP functions and classes. The majority of code here is the result of frequent questions, or problems asked on IRC channels, or on the php.net user notes. All code published here resides in the Public Domain, you are free to modify, distribute or resell this code however you wish. All code is also available on github.com.</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
        <div class="project">
          <h3>Drupal</h3>
          <p>Drupal is an open source content management platform powering millions of websites and applications. It’s built, used, and supported by an active and diverse community of people around the world.</p>
          <img class="featured-image" src="http://placekitten.com/200/138" />
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-sm-6">
      <div class="sidebar-wrapper clearfix">
        <h2>Developer Blog</h2>
        {% for post in site.posts %}{% if post.section == 'developer' %}
          <div class="post">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="date">{{ post.date | date: '%b %d, %Y' }}</div>
            {% if post.summary %}
              <div class="summary">{{ post.summary|markdownify }}</div>
            {% endif %}
            <a href="{{ post.url }}" class="read-more">Read more</a>
          </div>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
</section>
