---
layout: default
title: Developer | Aidan Lister
section: developer
---
<section class="main-content">
  <div class="row">
    <div id="main" class="col-sm-6 col-md-7">
      <h1>Developer</h1>

      <div class="section-description">
        <p class="lead">I have been an active web developer since 1999. I am proficient with dozens of languages but specialise in Python and PHP, and in a few different frameworks, namely Drupal and Django. I also enjoy the odd task in MIPS, MATLAB, C, or VHDL when required. I am a strong proponent of open source, web standards, and accessibility.</p>
      </div>

      <div class="section-content">
        <h2>From the blog:</h2>
        <div class="posts">
          {% for post in paginator.posts %}
            {% if post.section == 'developer' %}
              <div class="post clearfix">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <div class="date">{{ post.date | date: '%b %d, %Y' }}</div>
                {% if post.summary %}
                  <div class="summary">{{ post.summary|markdownify }}</div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        {% if paginator.total_pages > 1 %}
        <nav>
          <ul class="pagination">
            {% if paginator.page != 1 %}
              <li><a href="{{ paginator.previous_page_path }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
              {% elsif page == 1 %}
                <li><a href="/developer/">{{ page }}</a></li>
              {% else %}
                <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}
            {% if paginator.page != paginator.total_pages %}
              <li><a href="{{ paginator.next_page_path }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    </div>

    <div id="sidebar" class="col-sm-6 col-md-5">
      <div class="sidebar-wrapper clearfix">
        <h2>Here are some of my projects:</h2>

        <div class="projects">
          <div class="project">
            <div class="project-badge">
              <img src="https://img.shields.io/github/stars/freakboy3742/pyxero.svg">
            </div>
            <h3><a href="https://github.com/freakboy3742/pyxero">PyXero</a></h3>
            <p>PyXero is the <a href="https://developer.xero.com/code-samples/libraries/python/">official library</a> for connecting to Xero with Python. It's primarily maintained by myself, and Russel Keith Magee of the Django foundation.</p>
            <img class="featured-image" src="/assets/img/xero.png" />
            <p>&raquo; <a href="https://github.com/freakboy3742/pyxero">See the project on github</a>.</p>
          </div>

          <div class="project">
            <div class="project-badge">
              <img src="https://img.shields.io/github/stars/pythonforfacebook/facebook-sdk.svg">
            </div>
            <h3><a href="https://github.com/pythonforfacebook">Python for Facebook</a></h3>
            <p>I took over maintenance of the <a href="https://developers.facebook.com/docs/apis-and-sdks">official python library</a> for the facebook API

            A home for Python developers working with Facebook. We maintain two repositories on github:</p>
            <p><em>facebook-sdk</em> is a set of essential tools for working with Facebook in Python,</p>
            <p><em>django-facebook</em> is an extensible django plugin for building facebook integrated sites.</p>
            <img class="featured-image" src="/assets/img/facebook.png" />
            <p>&raquo; <a href="https://github.com/pythonforfacebook/facebook-sdk">See the project on github</a>.</p>
          </div>

          <div class="project">
            <h3><a href="https://www.drupal.org/user/502018/">Drupal</a></h3>
            <p>Drupal is an open source content management platform powering millions of websites and applications. I've authored over 20 modules that are widely used throughout the Drupal ecosystem, collectively used across thousands of sites and registering over 120,000 downloads.</p>
            <img class="featured-image" src="/assets/img/drupal.png" />
            <p>&raquo; <a href="https://www.drupal.org/user/502018/">See my projects on Drupal.org</a>.</p>
          </div>

          <div class="project">
            <h3><a href="https://www.drupal.org/user/502018/">PEAR</a></h3>
            <p>The PHP Extension and Application Repository (PEAR) was a central part of the PHP ecosystem before frameworks arrived on the scene. I authored several packages which were collectively downloaded over 350,000 times and powered many open source applications like Wordpress, Joomla, Drupal, and Wikipedia.</p>
            <img class="featured-image" src="/assets/img/pear.png" />
            <p>&raquo; <a href="https://www.drupal.org/user/502018/">See my projects on Drupal.org</a>.</p>
          </div>

          <div class="project">
            <h3>PHP.net</h3>
            <p>I was a noted author of the PHP documentation, and a notes maintainer for several years. I started using PHP3 just prior to PHP4's release, and contributed extensively to the PHP5 documentation when PHP5 was released.</p>
            <img class="featured-image" src="/assets/img/php.png" />
            <p>&raquo; <a href="http://php.net/manual/en/preface.php">See the attribution</a> and my <a href="http://php.net/manual/en/function.array-multisort.php">favourite manual page</a>.</p>
          </div>

          <div class="project">
            <div class="project-badge">
              <img src="https://img.shields.io/github/stars/aidanlister/code.svg">
            </div>
            <h3><a href="https://github.com/aidanlister/code/">Code repository</a></h3>
            <p>I maintain a repository for useful functions and classes, some of which have ended up in open source frameworks which power a sizeable chunk of the worlds websites, including Wordpress, Drupal, and Joomla.</p>
            <p>The majority of code here is the result of frequent questions, or problems asked on IRC channels, or on the php.net user notes. All code published here resides in the Public Domain, you are free to modify, distribute or resell this code however you wish.</p>
            <p>&raquo; <a href="https://github.com/aidanlister/code/">See the repository on github</a> or browse the blog posts to the left.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
