.section-consultant li em { font-weight: bold; }

a { color: white; }

h1 { font-size: 25px; color: white; margin-top: 0; padding-top:0;}
h2 { font-size: 17px; color: white; }
h3 { font-size: 13px; }
h4 { font-size: 12px; color: white; }

h3 a { color: #333; }
h3 a:hover { color: #333; text-decoration: underline; }

.highlight { background-color: rgba(255,255,255,.5) !important; }
pre { background-color: transparent; border: none; border-radius: 0;}
code { background-color: rgb(188,207,220); }

body {
  font-size: 14px;
  background: none no-repeat top center;
  background-size: cover;
  background-attachment: fixed !important;
  background-color: black;
  font-family: 'Open Sans', serif;
}
body.section-home {
  background-image: url('/assets/img/backgrounds/sanblas.jpg');
}
body.section-developer {
  background-image: url('/assets/img/backgrounds/kashmir.jpg');
}
body.section-traveler {
  background-image: url('/assets/img/backgrounds/guyana.jpg');
}
body.section-entrepreneur {
  background-image: url('/assets/img/backgrounds/kigumeflip.jpg');
}
body.section-consultant {
  background-image: url('/assets/img/backgrounds/elcastillo.jpg');
}

.navbar-default { font-family: 'Open Sans', sans-serif; background-color: inherit; border: none; margin: 0; }
.navbar-default ul { list-style-type: none; padding: 0; margin-bottom: 0; ´}
.navbar-default ul li { height: 39px; }
.navbar-default ul li.home {
  height: 156px;
  width: 156px;
}
.navbar-default ul li.home a {
  margin-left: 0;
  font-size: 40px;
  padding: 15px 25px;
  line-height: 43px;
  height: 156px;
  background-color: rgba(91, 143, 164, .9);
}
.navbar-default ul li.home a .suffix { color: #cddde6; }
.navbar-default ul li.developer a,
.section-developer #content .main-content { background-color: rgba(134, 185, 206, .9); }
.navbar-default ul li.entrepreneur a,
.section-entrepreneur #content .main-content { background-color: rgba(153, 194, 212, .9); }
.navbar-default ul li.consultant a,
.section-consultant #content .main-content { background-color: rgba(175, 208, 225, .9); }
.navbar-default ul li.traveler a,
.section-traveler #content .main-content { background-color: rgba(199, 219, 230, .9); }
.navbar-default ul li a {
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 7px 20px;
}
.navbar-default ul li a:hover {
  text-decoration: none;
  color: #fff;
}

#sidebar .sidebar-wrapper { background-color: #333; padding: 15px; color: #fff; }
#sidebar a:hover { text-decoration: none }

.section-developer #sidebar a { color: rgb(134, 185, 206); }
.section-entrepreneur #sidebar a { color: rgb(153, 194, 212); }
.section-consultant #sidebar a { color: rgb(175, 208, 225); }
.section-traveler #sidebar a { color: rgb(199, 219, 230); }

#sidebar h2 { margin: 0 0 20px; color: #72abc4; }
#sidebar h3 { font-size: 16px; font-weight: 200; text-decoration: none; }
#sidebar h3 a { text-decoration: none; }

#sidebar .featured-image { margin-bottom: 10px; }

#content .main-content {
  padding: 25px;
}

#content #main h3 { color: white; margin-top: 10px; margin-bottom: 5px; font-size: 20px; font-weight: 200; }
#content #main h3 small { color: #ddd; }
#content #main h3 a { color: white; text-decoration: none; }

#content #sidebar h3 { color: rgb(151,189,206); }
#content #sidebar h3 a { color: rgb(151,189,206); }

#content #main .section-description {
  font-size: 15px; font-weight: 500;
}
#content #main .lead { font-size: 18px; font-weight: 500; }

#content #main h2 { border: 1px solid rgb(91, 143, 164); border-width: 1px 0; padding: 10px 0; margin-bottom: 20px; }

/* Home */
.section-home .main-content {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
}

/* Developer */
.section-developer #sidebar .featured-image { height: 50px; }

.section-developer #content #main h3 { font-weight: 200; font-size: 16px; }

.section-developer #content #main .post { padding: 20px 0; font-size: 12px; border-bottom: 1px solid rgb(91, 143, 164); }
.section-developer #content #main .post:first-child { padding-top: 0; }
.section-developer #content #main .post:last-child { border: none; }
.section-developer #content #main .post .date { color: #efefef; font-size: 12px; padding-bottom: 4px; }

.section-developer #content .meta { font-style: italic; margin-bottom: 1em; color: rgb(187,207,220); }

.section-developer #comments { padding: 25px; background-color: rgba(255, 255, 255, .8); }

.section-developer #sidebar .project .project-badge { float: right; }
.section-developer #sidebar .project { margin-bottom: 40px; }
.section-developer #sidebar .project h3 { line-height: 22px; }


/* Developer posts */
.section-developer #content .post-content h3 { color: white; font-size: 15px; font-weight: 200; }
.section-developer #content .post-content .date { color: #efefef; font-size: 12px; padding-bottom: 4px; }
.section-developer #content .post-content .meta { font-style: italic; margin-bottom: 1em; color: rgb(187,207,220); }

/* Developer posts pagination */
.pagination > li > a,
.pagination > li > span { border-color: rgb(91, 143, 164); background-color: transparent; color: rgb(91, 143, 164); font-weight: bold; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { background-color: rgb(91, 143, 164); border-color: rgb(91, 143, 164); color: #fff; font-weight: normal; }


/* Entreprenuer */
.section-entrepreneur #content .project { border-top: 1px solid rgb(91, 143, 164); padding: 20px 0 40px; }
.section-entrepreneur #content .project:first-child { border: none; padding-top: 0; }

/* Travel */
.section-traveler .featured-image { margin-bottom: 10px; }
.section-traveler .trip { border-top: 1px solid rgb(91, 143, 164); padding-bottom: 20px; padding-top: 20px; }
.section-traveler .trip:first-child { padding-top: 0; border-top: none; }

/* Mobile */
@media(max-width: 767px) {
  body { padding-top: 80px; }
  #navbar,
  #content { padding: 0; }
  .navbar-default ul li.home { float: left; }
  .navbar-default ul li a { margin-left: 156px; }
  .section-home #main { background-color: rgba(11, 11, 11, .3) }
}
@media(max-width: 480px) {
  body { padding-top: 40px; }
}

@media(min-width: 768px) {
  #navbar { padding-right: 0; }
  #content { padding-left: 0; margin-top: 158px; }
  .navbar-default ul li { width: 158px; }
  .navbar-default ul li.home {
    height: 158px;
    width: 158px;
  }
  .navbar-default ul li.home a {
    height: 158px;
  }
}
@media(min-width: 768px) and (max-width: 991px) {
  #navbar { padding-left: 0; width: 21%; }
  #content { padding-right: 0; width: 79%; }
}
@media(min-width: 991px) {
  #navbar { width: 22%; }
  #content { width: 78%; margin-top: 198px; }
  .navbar-default ul li.home,
  .navbar-default ul li.home a { width: 198px; height: 198px; }
  .navbar-default ul li.home a { font-size: 48px; line-height: 48px; padding: 22px 32px; }
  .navbar-default ul li,
  .navbar-default ul li a { width: 198px; }
  .navbar-default ul li a { padding: 10px 32px; }
  .navbar-default ul li { height: 45px; }
}
@media(min-width: 1200px) {
  #navbar { width: 19%; }
  #content { width: 81%; margin-top: 207px; }
  .navbar-default ul li.home,
  .navbar-default ul li.home a { width: 207px; height: 207px; }
  .navbar-default ul li.home a { font-size: 50px; line-height: 50px; padding: 22px 35px; }
  .navbar-default ul li,
  .navbar-default ul li a { width: 207px; }
  .navbar-default ul li a { padding: 13px 35px 12px; }
  .navbar-default ul li { height: 50px; }
}